{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row banner category">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ category.name }}</h1>
		</div>
	</div>

</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<a href="{{url_for('newItem')}}">
				<button class="btn btn-default" id="new-item">
					<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>Add Item
				</button>
			</a>
		</div>
		<div class="col-md-7"></div>
	</div>
	
	{% if items !=[] %}	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-8">
			{% for i in items %}
					<div class="list-item">
								<a href='{{url_for('viewItem', item_id=i.id ) }}'>
									<h3>{{i.name}}</h3>
								</a>
								<p><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>{{i.description}}</p>
					</div>
			{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}
